*{
    margin: 0;
    padding: 0;
}

body{
    background-color: dimgray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 1rem 2rem;  
}


header{
    display: flex; /*por padrão el já em linha*/
    flex-direction: row; /*posicionaar elementos em linha*/
    justify-content:space-between;
    align-items:center;
}

#imgheader{
    width: 120px;
    flex-direction:column;
}

li{
    display: inline-block;
    margin: 60px;
}

a{
    color: white;
}

#inicio:hover{
    color:black;
    font-weight: bold;
}

#agendar:hover{
    color:black;
    font-weight: bold;
}

#contato{
    border: 2px solid rgb(48, 1, 219);
    padding: 10px;
    border-radius:20px;
}

#contato:hover{
     background-color: black;
     color: white;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content:space-around;
}

h2{
    font-size:56px;
    line-height:60px;
    
}

h2 span{
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top ,#FFFFFF 50%, #000 50%);
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0;
}

#lado{
    display:inline-block;
    font-weight: bold;
    font-family: Arial;
    background: linear-gradient(to top, #000 50%, #FFFFFF 50%);
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}

p{
    line-height:20px; /*espaçametro de uma linha a outra*/
    max-width: 500px; /*tamanho que esse texto terá no maximo*/
    color: #1c1c1c;

}

/* #body1{
    width: 590px;
} */

form{
    display:flex;
    flex-direction:column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
}

input{
    margin-top:20px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

